* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor1: #5BC0EB;
    --cor2: #4A90E2;
    --cor3: #7B61FF;
    --cor4: #5A3FD0;
    --cor5: #0B0B14; 
    --cor6: #ffffff;
    --cor7: #ffff00;
    --fonte1: Arial, Helvetica, sans-serif;
}

body {
    background:  var(--cor5);
    min-height: 100vh;
    font-family: var(--fonte1);
}

header {
    position: fixed;
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 70px;
    border-bottom: 1px solid var(--cor3);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 15px var(--cor4);
    z-index: 99;
}

.logo {
    width: 900px;
    display: flex;
    align-items: center;
}

.rp {
    height: 60px;
    margin-left: 25px;
    padding-top: 5px;
    transition: 0.5s;
}

.nome {
    height: 20px;
    transition: 0.5s;
}

.rp:hover, .nome:hover {
    filter: drop-shadow(0 0 5px var(--cor4));
}

.links {
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 35px;
}

.links a {
    color: var(--cor6);
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: 28px;
    text-decoration-thickness: 3px;
    transition: 0.5s;
}

 .links a:hover {
    color: var(--cor1);
    text-decoration-color: var(--cor3);
}

.light-dark {
   background: none;
   border: none;
   cursor: pointer;
}

.fa-sun {
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: 26px;
    text-decoration-thickness: 3px;
    font-size: 20px;
    color: var(--cor6);
    transition: 0.5s;
}

.fa-sun:hover {
    color: var(--cor7);
    text-underline-offset: 26px;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--cor3);
}

.hero {
    display: block;
    color: var(--cor6);
    text-align: center;
    border-bottom: 1px solid var(--cor3); 
    box-shadow: 0 0 15px var(--cor4);
    padding-bottom: 100px;   
}

.logo__hero {
    width: 780px;
    margin-top: 150px;
    transition: 1s;
}

.logo__hero:hover {
    filter: drop-shadow(0 0 15px var(--cor4));
}

h1 {
    margin-bottom: 30px;
    font-size: 28px;
}

.hero__p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.link-projetos, .link-contato {
    width: 200px;
    height: 55px;
    padding: 1em;
    display: inline-block;
    border-radius: 8px;
    font-size: 18px;
    box-shadow: 0 0 0 3px transparent;
    text-decoration: none;
    color: var(--cor6);
    margin: 0 20px;
    transition: 0.5s;
}

.link-projetos {
    background: linear-gradient(145deg, var(--cor4), var(--cor1));
}

.link-projetos:hover {
    box-shadow: 0 0 0 3px var(--cor5), 0 0 8px 8px var(--cor4);
}

.link-contato {
    box-shadow: inset 0 0 0 3px var(--cor4);
    transition: 0.5s;
}

.link-contato:hover {
    box-shadow: 0 0 0 3px var(--cor3), 0 0 8px 8px var(--cor1);
}


.loren {
    font-size: 40px;
}




