* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

:root {
    --cor1: #5BC0EB;
    --cor2: #4A90E2;
    --cor3: #7B61FF;
    --cor4: #5A3FD0;
    --cor5: #0B0B14;
    --cor6: #ffffff;
    --cor7: #ffff00;
    --cor8: #111323;
    --fonte1: Arial, Helvetica, sans-serif;
    --fonte2: "Candal", sans-serif;
}

body {
    background: var(--cor5);
    min-height: 100vh;
    font-family: var(--fonte1);
    color: var(--cor6);
    font-size: 1.6rem;
}

header {
    position: fixed;
    background: #0b0b1479;
    backdrop-filter: blur(3rem);
    width: 100vw;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    z-index: 99;
}

.header__logo {
    width: 90rem;
    display: flex;
    align-items: center;
}

.header__rp {
    height: 6rem;
    margin-left: 4.5rem;
    padding-top: 0.5rem;
    transition: 0.5s;
}

.header__nome {
    height: 2rem;
    transition: 0.5s;
}

.header__links {
    width: 90rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5.5rem;
}

.header__links a {
    color: var(--cor6);
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: 2.8rem;
    text-decoration-thickness: 0.3rem;
    transition: 0.5s;
}

.header__light-dark {
    background: none;
    border: none;
    cursor: pointer;
}

.fa-sun {
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: 2.6rem;
    text-decoration-thickness: 0.3rem;
    font-size: 2rem;
    color: var(--cor6);
    transition: 0.5s;
}

.hero {
    display: block;
    background: var(--cor5);
    color: var(--cor6);
    text-align: center;
    border-bottom: 0.1rem solid var(--cor3);
    box-shadow: 0 0 1.5rem var(--cor4);
    padding-bottom: 10rem;
    position: relative;
    z-index: 98;
}

.hero__logo {
    width: 78rem;
    margin-top: 15rem;
    transition: 1s;
}

.hero__h1 {
    margin-bottom: 3rem;
    font-size: 2.8rem;
}

.hero__p {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 3rem;
}

.botao-primario,
.botao-secundario {
    text-align: center;
    width: 20rem;
    height: 5.5rem;
    padding: 1em;
    display: inline-block;
    border-radius: 8px;
    font-size: 1.8rem;
    box-shadow: 0 0 0 0.3rem transparent;
    text-decoration: none;
    color: var(--cor6);
    margin: 0 2rem;
    transition: 0.5s;
}

.botao-primario {
    background: linear-gradient(270deg, var(--cor1), var(--cor4));
    background-size: 200% 200%;
    animation: gradientMove 5s ease infinite;
}

.botao-secundario {
    box-shadow: inset 0 0 0 0.3rem var(--cor4);
    background: linear-gradient(270deg, var(--cor5), var(--cor3));
    background-size: 200% 200%;
    animation: gradientMove 5s ease infinite;
}

.sobre {
    padding: 10rem 0;
    background: var(--cor5);
    position: relative;
    z-index: 97;
}

.sobre__container {
    display: flex;
    max-width: 130rem;
    margin: auto;
}

.sobre__imagem {
    width: 40rem;
    height: 50rem;
    align-items: center;
    justify-content: center;
    margin: 0 10rem 0 0;
    border-radius: 10px;
    border: 0.3rem solid transparent;
    background:
        linear-gradient(145deg, var(--cor1), var(--cor3), var(--cor4)) border-box;
    box-shadow: 1rem 1rem 2rem var(--cor4);
    overflow: hidden;
    flex-shrink: 0;
    /*impede q a largura seja alterada msm estando definida devido ao display flex*/
    transition: 0.5s;
}

.sobre__foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.sobre__texto {
    max-height: 50rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: var(--fonte2);
    font-size: 2rem;
    text-transform: uppercase;
    background: linear-gradient(to right, var(--cor1), var(--cor4) 15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
}

h3 {
    font-size: 5rem;
    margin-bottom: 2rem;
}

.destaque {
    background: linear-gradient(to right, var(--cor1), var(--cor4) 60%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.sobre__p {
    display: flex;
    font-size: 2rem;
    line-height: 1.5;
    max-width: 55ch;
}

.sobre__icones {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.sobre__foco,
.sobre__dedicacao,
.sobre__desenvolvimento {
    border-right: 0.1rem solid var(--cor3);
    padding-right: 5rem;
}

.fa-bullseye,
.fa-bolt,
.fa-code,
.fa-user-group {
    font-size: 4rem;
    padding: 1rem 0 3rem 0;
}

.sobre__h4 {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
}

.icones__p {
    line-height: 1.6;
    font-size: 1.6rem;
}


.projetos {
    padding: 8rem;
    background: var(--cor5);
    position: relative;
    z-index: 96;
}

.projetos__container {
    display: flex;
    flex-direction: column;
    max-width: 130rem;
    margin: auto;
}

.projetos__titulo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.projetos__botao {
    display: flex;
    align-items: center;
}

.botao-secundario:last-child {
    margin: 0;
}

.projetos__card {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
}

.projetos__item {
    border: 2px solid var(--cor2);
    border-radius: 10px;
    max-width: 40rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2rem var(--cor2);
    transition: 0.5s;
    overflow: hidden;
    background: var(--cor8);
}

.projetos__img {
    width: 100%;
}

.projetos__h4 {
    margin: 2.5rem;
    font-size: 2rem;
}

.projetos__p {
    font-size: 1.8rem;
    margin: 2rem 5rem 2rem 2rem;
    line-height: 1.5;
}

.projetos__links {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.projetos__links a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(to right, var(--cor1), var(--cor4) 60%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: .5s;
}

.projetos__icones {
    font-size: 2.5rem;
}

.fa-github {
    color: var(--cor6);
}

.skills {
    padding: 8rem;
    background: var(--cor5);
    position: relative;
    z-index: 95;
}

.skills__container {
    max-width: 130rem;
    margin: auto;
}

.skills__card {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 3rem;
}

.skills__logo {
    text-align: center;
    border: 1px solid var(--cor4);
    border-radius: 10px;
    padding: 3rem;
    background: var(--cor8);
    transition: .5s;
}

.skills__imagem {
    max-height: 10rem;
    margin-bottom: 1rem;
}

header,
.sobre,
.projetos,
.skills {
    border-bottom: 0.1rem solid var(--cor3);
    box-shadow: 0 0 1.5rem var(--cor4);
}

/*efeito hover*/
@media (hover: hover) {
    .header__rp:hover,
    .header__nome:hover {
        filter: drop-shadow(0 0 5px var(--cor4));
    }

    .header__links a:hover {
        color: var(--cor1);
        text-decoration-color: var(--cor3);
    }

    .fa-sun:hover {
        color: var(--cor7);
        text-underline-offset: 2.6rem;
        text-decoration-thickness: 0.3rem;
        text-decoration-color: var(--cor3);
    }

    .hero__logo:hover {
        filter: drop-shadow(0 0 1.5rem var(--cor4));
    }

    .botao-primario:hover {
        box-shadow: 0 0 0 0.3rem var(--cor5), 0 0 0.8rem 0.8rem var(--cor4);
    }

    .botao-primario:active,
    .botao-secundario:active {
        transform: scale(0.95);
    }

    .botao-secundario:hover {
        box-shadow: inset 0 0 0 0.3rem var(--cor5), 0 0 0.8rem 0.8rem var(--cor4);
    }

    .sobre__imagem:hover {
        box-shadow: -1rem -1rem 2rem var(--cor1);
    }
    
    .projetos__item:hover {
        transform: scale(1.05);
        border: 2px var(--cor4);
        box-shadow:
            0 0 0 4px var(--cor4), 
            0 0 5rem var(--cor4);
    }

    .projetos__ver:hover,
    .projetos__github:hover {
        color: var(--cor7);
        text-shadow: 0 0 20px var(--cor1);
    }

    .skills__logo:hover {
        background: var(--cor5);
        box-shadow: 0 0 15px var(--cor6);
    }

}


/*animação gradiente padrão*/
h1,
.fa-bullseye,
.fa-bolt,
.fa-code,
.fa-user-group {
    background: linear-gradient(270deg, var(--cor1), var(--cor4));
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 5s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}